<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %} - Temari Share</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css"/>
</head>
<body>
    <nav
      class="navbar has-shadow is-transparent"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div
          class="is-flex is-justify-content-space-between"
          style="width: 100%"
        >
          <div class="navbar-brand">
          <a class="navbar-item" href="">
            <!-- <img src="logo.png" height="100%"></img> -->
            <span class="is-size-4  pl-2">Temari Share</span>
          </a>
          </div>
          <div class="navbar-item">
            {% if g.user %}
            <div class="dropdown is-right">
              <div class="dropdown-trigger">
                <a
                  class="icon has-text-color-primary"
                  onclick="toggleDropdown(event)"
                >
                  <i class="fa-solid fa-circle-user"></i>
                  account
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a
                    href="/auth/logout"
                    class="dropdown-item"
                  >
                    Log out
                  </a>
                  <a class="dropdown-item">Account Dashboard</a>
                </div>
              </div>
            </div>
            {% else %}            
            <div class="buttons are-small">
                <a class="button is-light" href="/auth/login">
                Log in
                </a>
                <a class="button is-info" href="/auth/register">
                    <strong>Sign up</strong>
                </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <main class="has-background-white-bis p-4">
        <div class="container">
          <div class="columns">
            <div class="column is-one-quarter">
                 <div class="menu">
                    <ul class="menu-list">
                        <li>
                        <Link href="/">
                            <a class="is-active">
                            <span class="icon">
                                <i class="fa-solid fa-house"></i>
                            </span>
                            Home
                            </a>
                        </Link>
                        </li>
                        <li>
                        <Link href="">
                            <a>
                            <span class="icon">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            Create Blog
                            </a>
                        </Link>
                        </li>
                        <li>
                        <Link href="">
                            <a>
                            <span class="icon">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            Fav Blogs
                            </a>
                        </Link>
                        </li>
                        <li>
                        <Link href="/about">
                            <a>
                            <span class="icon">
                                <i class="fa-solid fa-circle-info"></i>
                            </span>
                            About
                            </a>
                        </Link>
                        </li>
                    </ul>
                </div>
            </div>
            <div
              class="column p-3"
              style="min-height: calc(100vh - 415px); overflow-y: auto"
            >
              {% for message in get_flashed_messages() %}
              <article class="message is-danger">
                <div class="message-header">
                  <p>Error</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                  {{ message }}
                </div>
              </article>
              {% endfor %}
              {% block content %}{% endblock content %}
            </div>
          </div>
        </div>
      </main>
    <section class="section has-background-grey-light">
        <div class="container has-background-grey-light">
          <div class="footer-main">
            <div class="columns has-background-grey-light">
              <div class="column">
                <h4 class="title is-4">About</h4>
                <p>
                  Temari Share is a student-centered educational resource management system 
                  that allows students to share modules, presentations, documents, tutorial videos, 
                  projects, assignments, and other educational resources.
                </p>
              </div>
              <div class="column">
                <h4 class="title is-4">Services</h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam voluptatibus 
                  voluptates eaque odio omnis deserunt laudantium aut ratione debitis quaerat.
                </p>
              </div>
              <div class="column">
                  <div>
                      <h4 class="title is-4">Contact</h4>
                      <div class="pb-2">
                          <a href="tel:251912687901">+251912687901</a>
                        </div>
                        <div class="pb-2">
                            <a href="tel:251972586160">+251972586160</a>
                        </div>
                        <div class="pb-2">
                            <a href="tel:251943068071">+251943068071</a>
                        </div>
                        <div class="pb-2">
                            <a href="mailto:info@temarishare.com">info@temarishare.com</a>
                        </div>
                        <div class="pb-4">
                            <a>Tulu Dimtu, Addis Ababa, Ethiopia</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h4 class="title is-4">Follow</h4>
                    <div class="buttons are-small">
                        <a class="button has-background-grey-light is-large is-facebook is-inverted">
                            <span class="icon">
                                <i class="fab fa-facebook fa-lg"></i>
                            </span>
                        </a>
                        <a class="button has-background-grey-light is-large is-instagram is-inverted">
                            <span class="icon">
                                <i class="fab fa-instagram fa-lg"></i>
                            </span>
                        </a>
                        <a class="button has-background-grey-light is-large is-twitter is-inverted">
                            <span class="icon">
                                <i class="fab fa-twitter fa-lg"></i>
                            </span>
                        </a>
                        <a class="button has-background-grey-light is-large is-youtube is-inverted">
                            <span class="icon">
                                <i class="fab fa-youtube fa-lg"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-secondary mt-6">
          <div class="content has-text-centered has-text-weight-bold">
              Copyright &copy; 2022 Temari Share
          </div>
        </footer>
      </section>
    <script>
        function toggleDropdown(e) {
            document.querySelector('.dropdown').classList.toggle('is-active')
            e.preventDefault();
        }
    </script>
</body>
</html>